<div class="col s6">
  {{#if isLogin}}
  <form class="input-field" data-form="login">
    <input data-input="username" type="text" placeholder="username" />
    <input data-input="password" type="password" placeholder="password" />
    <button class="btn" type="submit">login</button>
  </form>
  <span>Or you can <a href="/user/register" class="btn" data-type="redirect">register</a></span>
  {{else}}
  <form class="input-field" data-form="register">
    <input data-input="username" type="text" placeholder="username" />
    <input data-input="password" type="password" placeholder="password" />
    <input data-input="repeated-password" type="password" placeholder="repeat password" />
    <button class="btn" type="submit">register</button>
  </form>
  <span>Already have an account? <a href="/user/login" class="btn" data-type="redirect">login</a></span>
  {{/if}}
</div>